In [2]:
# 2446: 별 찍기 - 9
N = int(input())
for i in range(1, N + 1):
    print(" " * (i - 1) + "*" * (2 * (N - i) + 1))
for j in range(1, N):
    print(" " * (N - j -1) + "*" * (2 * j + 1))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [3]:
# 2455: 지능형 기차
maximum, aboard = 0, 0
for i in range(4):
    a, d = map(int, input().split())
    aboard -= a
    aboard += d
    if aboard >= maximum:
        maximum = aboard
    if maximum >= 10000:
        break
print(maximum)

42

In [4]:
# 2460: 지능형 기차 2
maximum, aboard = 0, 0
for i in range(10):
    a, d = map(int, input().split())
    aboard -= a
    aboard += d
    if aboard >= maximum:
        maximum = aboard
    if maximum >= 10000:
        break
print(maximum)

42

In [12]:
# 2525: 오븐 시계
A, B = map(int, input().split())
C = int(input())
ans2 = B + C
ans1 = A + ans2 // 60
while ans1 >=24:
    ans1 -= 24
while ans2 >= 60:
    ans2 -= 60
print(ans1, ans2)

0 13

In [14]:
# 2857: FBI
# 특이사항: 다국어 (영어)(한국어 번역)
counter = 0
for i in range(5):
    callsign = input()
    if 'FBI' in callsign:
        print(i + 1)
        counter += 1
if counter == 0:
    print("HE GOT AWAY!")

HE GOT AWAY!

In [20]:
# 2863: 이게 분수?
# 특이사항: 다국어 (영어)(한국어 번역)
list1 = list(map(int, input().split()))
list2 = list(map(int, input().split()))
order = list(range(4))
answer = []
table = [list1, list2]
answer.append(table[0][0] / table[1][0] + table[0][1] / table[1][1])
for i in range(4):
    table[0][0], table[0][1], table[1][0], table[1][1] =\
        table[1][0], table[0][0], table[1][1], table[0][1]
    answer.append(table[0][0] / table[1][0] + table[0][1] / table[1][1])
print(order[answer.index(max(answer))])

1

In [23]:
# 2721: 삼각수의 합
# 특이사항: 다국어 (영어)(한국어 번역)
# 문제에 수식이 주어지는데, 마크다운이 적용되지 않아서 알아보기 어렵습니다.
# 수식을 풀어서 설명하면, 시그마 기호를 이용한 수열의 합 정도로 생각하면 되겠습니다.
T = int(input())
for i in range(T):
    n = int(input())
    print(sum([j * sum(list(range(1, j+2))) for j in range(1, n+1)]))

45
105
210
2145

In [28]:
# 2914: 저작권
# 특이사항: 다국어 (영어)(한국어 번역)
A, I = map(int, input().split())
print(A * (I - 1) + 1)

91